<div>
  <div *ngIf="products.length > 0" class="row m-0 gy-5">
    <div class="col-lg-4 col-md-4" *ngFor="let product of products">
      <div class="mx-auto text-center cursor-pointer">
        <img class="img-fluid mb-3" style="width: 175px; height: 300px;" [src]="product.imgUrl" alt="">
        <div class="mt-2">
          <div>
            {{ product.name }}
          </div>
          <div class="ms-2 fw-bold">R${{ product.unitPrice }}</div>
          <div> Units in stock: <b> {{product.unitsInStock}} </b></div>

          <button routerLink="/products/{{product.id}}" class="btn btn-secondary border-0 mt-3" style="width: 175px;">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="products?.length == 0" class="container">

  </div>
</div>
