<div class="product-container">
  <div *ngIf="(product != undefined) && !isItemAdded" class="mt-4">
    <div class="row gx-5 m-0">

      <div class="col-lg-6">
        <div class="product-img me-5">
          <img class="img-fluid w-100" [src]="product.imgUrl" alt="">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex product-details px-4 py-3 flex-column">
          <div>
            <div class="fw-bold">
              {{product.name}}
            </div>
            <hr>
          </div>
          <div class="d-flex justify-content-between">
            <div class="fw-bold price">
              R$ {{product.unitPrice}}
            </div>
            <div class="d-flex counter-buttons">
                <div class="minus-btn d-flex align-items-center me-1" (click)="decreaseAmount()">
                    -
                </div>
                <div class="counter-value d-flex align-items-center justify-content-center me-1">
                  {{amountOfProducts}}
                </div>
                <div class="plus-btn d-flex align-items-center" (click)="increaseAmount()">
                    +
                </div>
            </div>
          </div>

          <div class="mt-3">
            <button class="btn btn-warning w-100" (click)="addToCart()">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
      </div>

      <div class="row m-0 pt-5">
        <div class="fw-bold">
          Description
        </div>
        <p class="mt-2">
          {{product.description}}
        </p>
      </div>
  </div>

  <div class="row m-0 gx-2 gy-2" *ngIf="isItemAdded">
      <div class="col-lg-6">
        <div class="on-cart d-flex align-items-center justify-content-center h-100 py-2">
            <img class="product-image img-fluid" [src]="product.imgUrl" alt="">
            <div class="d-flex">
              <img class="check-icon" src="../../../assets/icons/checked.png" alt="">
              <span class="fw-bold ms-3">Adicionado ao Carrinho !</span>
            </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="cart-warn px-4 py-2 h-100 d-flex align-items-center">
          <div class="request-warn d-flex align-items-center pe-2 h-100 w-50">
            <div>
              <span class="text-success">
                Seu pedido se qualifica para Frete GRÁTIS. Selecione
                span
                <b>
                  Frete GRÁTIS
                </b>
              </span>
               ao finalizar o pedido.
               <a class="text-primary">
                 Veja detalhes.
               </a>
            </div>
          </div>

          <div class="subtotal-warn ms-3 w-50">
            <div class="h6 fw-bold">
              Subtotal do carrinho:
            </div>
            <div class="fw-bold">
              <span style="font-size: 10px;">
                R$
              </span>
              {{product.unitPrice * amountOfProducts}}
            </div>
            <div class="mt-2">
              <button class="btn btn-warning w-100">
                Fechar Pedido
              </button>
              <button class="btn btn-outline-dark mt-3 outline w-100" (click)="redirectToCart()">
                Ir para o carrinho
              </button>
            </div>
            <div class="mt-1">
              Para melhorar a experiência
              <a href="#">
                faça
                login em sua conta
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="product == undefined">
    No products found
  </div>
</div>

