.product-container {
  .product-img {
    text-align: center;
    img {
      width: 100% !important;
      max-width: 450px;
    }
  }

  @mixin counterButton {
    padding: 0px 10px;
    background: #dadada;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  }

  .product-details {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    .price {
      font-size: 24px;
    }

    .counter-buttons {
      .minus-btn {
        @include counterButton();
        font-size: 22px;
      }

      .counter-value {
        @include counterButton();
        font-size: 14px;
        min-width: 44px;
      }

      .plus-btn {
        font-size: 22px;
        @include counterButton();
      }
    }
  }
}

.on-cart {
  background: rgba(240, 240, 240, 0.473);
  font-size: 20px;
  .product-image {
    width: 100%;
    max-width: 125px;
    margin-right: 25px;
  }

  .check-icon {
    width: 20px;
    height: 20px;
  }
}

.cart-warn {
  background: rgba(240, 240, 240, 0.473);
  .request-warn {
    font-size: 14px;

    border-right: 1px solid lightgrey;
  }

  .subtotal-warn {
    font-size: 14px !important;
    .btn {
      font-size: 14px;
    }
  }


}

@media only screen and (max-width: 600px) {
  .nav-items {
    flex-wrap: wrap;
  }

  .search-form {
    width: 100% !important;
  }

  .options-box {
    margin-top: 20px;
  }
}
