
  .search-form {
    width: 35%;
    min-width: 150px;
    transition: all .2s ease;
    &:focus {
      width: 50%;
    }
  }
.header {
  background: #fff;
  height: auto;

  .logo-box {
    width: fit-content;
    img {
      width: 50px;
      // filter: grayscale(100%);
    }
  }
  .burger-box {
    border-radius: 100%;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover {
      background: rgb(236, 236, 236);
    }
    img {
      width: 100%;
    }
  }
}
.icon-box {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: contain;
  transition: .2s ease-in-out;
  &:hover {
    background: rgb(236, 236, 236);
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.side-menu {
    z-index: 9999;
    transition: all .3s ease-in-out;
    width: 400px;
    visibility: hidden;
    opacity: 0;
    top: 0;
    background: #fff;

    .category-box {
      a {
        color: #414141;
        text-decoration: none;
        transition: .2s ease;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          color: rgb(168, 168, 168);
        }
      }
    }
}

.menu-open {
  opacity: 1;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .nav-items {
    flex-wrap: wrap;
  }

  .search-form {
    width: 100% !important;
  }

  .options-box {
    margin-top: 20px;
  }
}
