<div class="px-2 py-3">
  <app-product-list [products]="products"></app-product-list>

  <div class="container" *ngIf="products.length == 0">
    <h5>
      No products to show.
    </h5>
  </div>
</div>
