<div class="cart-container p-3">
  <h3>Carrinho de compras
  </h3>
  <hr>

  <div *ngFor="let item of cartItems; let cartIndex = index" c>
    <div class="d-flex cart-item-image">
      <div class="me-3">
        <img [src]="item.imgUrl" alt="">

      </div>

      <div class="d-flex flex-column">
        {{item.name}}
        <h6 class="fw-bold mt-1">
          R$ {{item.unitPrice}}
        </h6>

        <span class="fs-14">
          à vista ou em até 12x de R$ {{(item.unitPrice / 12).toFixed(2)}} sem juros
        </span>
        <span class="text-success fs-14">
          em Estoque
        </span>
        <span class="text-secondary fs-14">
          Elegível para Frete GRÁTIS
        </span>
      </div>
    </div>
    <hr>
  </div>
</div>
